<div class="layout layout--col layout--center-center">
  <div class="layout__item text--center">
    <div class="title title--small">
      ¿Fútbol?
    </div>
    <div class="mt--1">
      <span class="label label--filled text--base">{{ data.is_blocked | default: is_blocked }}</span>
    </div>
  </div>
</div>

{% render 'title_bar', svg_logo: svg_logo, title: "", update_time: data.last_update | default: last_update %}